body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle farthest-side, #bbf2fc, #02033d);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  border: solid red;
}   

.navigation {
  display: flex;
  justify-content: space-around;
  border: solid red;
}

.twitter-timeline {
  float: right;
  border-radius: 50px;
  
}

.twitter-section {
  border-radius: 70px;
  margin-right: 10px;
}